*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100%;

}
#tudo{
    position: absolute;
}
header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.377);
    padding-right: 10%;
    padding-left: 10%;    
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(60, 216, 255);

}
body{
    background-image:url(f.jpeg);
    background-size: cover;
}

.d{
    display: none;
}
img{
    width: 200px;
}

    .nav{
        text-align: center;
        margin-top: 10%;
        background-color: rgb(175, 255, 255);
        margin-right: 30%;
        margin-left: 30%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 10px;

    }




input:checked + .d{  

    display: block;
}

input{
    display: none;
}
label{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}
label:hover{
    cursor: pointer;
    text-decoration: underline transparent;
    font-size: 32px;
}


